### Application
COMPOSE_PROJECT_NAME=print_label_services
APPNAME=print_label_services
GLOBAL_NETWORK_NAME=docker-network

### Request handler
REQUEST_HANDLER_CONTEXT='./sources/plRequestHandler'
REQUEST_HANDLER_NAME='request_handler'
REQUEST_HANDLER_PORT=30001

### Address validator
VENDOR_CONSOLIDATOR_CONTEXT='./sources/plVendorConsolidator'
VENDOR_CONSOLIDATOR_NAME='vendor_consolidator'
VENDOR_CONSOLIDATOR_PORT=30002

### Cost & Surcharge collector
COST_SURCHARGE_COLLECTOR_CONTEXT='./sources/plCostSurchargeCollector'
COST_SURCHAGE_COLLECTOR_NAME='cost_surchage_collector'
COST_SURCHAGE_COLLECTOR_PORT=30003